<div class="container" style="text-align: center;">
    <div class="row">
        <h1>Añadir nuevo vino</h1>
    </div>
</div>

<div class="main">
    <form>
        <div class="container">
            <div class="row">
                <div class="col">
                  <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
                </div>
              </div>
            <div class="row">                
                <div class="col">  
                        <input type="text" class="form-control" id="inputUvas" placeholder="Uvas">
                </div>              
                <div class="col">              
                        <input type="text" class="form-control" id="inputPais" placeholder="Pais">                   
                </div>
                <div class="col">               
                        <input type="text" class="form-control" id="inputAnyo" placeholder="Año">
                </div>
            </div>

            <div class="row">                
                <div class="col">  
                        <input type="text" class="form-control" id="inputPrecio" placeholder="Precio">
                </div>              
                <div class="col">              
                        <input type="text" class="form-control" id="inputImagen" placeholder="Imagen">                   
                </div>
                <div class="col">               
                        <input type="text" class="form-control" id="inputRegion" placeholder="Region">
                </div>
            </div>

            <div class="row">
                <div class="col">  
                    <input type="text" class="form-control" id="inputDesc" placeholder="Descripcion" style="height: 80px;">
                </div> 
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn" style="font-size: large; font-weight: bold;">Crear</button>
                </div>              
            </div>  
        </div>
    </form>

</div>
